<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">
        Cambiar Contraseña
    </h4>
</div>
<div class="modal-body">
    {% if change_ok != None %}
        <label for="" class="text-success">
            {{ change_ok }}
        </label>
    {% else %}
        <form id="f_changepassword" method="post" action="{% url 'administracion:usuario_cambiarpassword' %}">
            {% csrf_token %}
            {{ form }}
        </form>
    {% endif %}
</div>
<div class="modal-footer">
    {% if change_ok == None %}
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button id="btnChgPwd" type="button" class="btn btn-primary">Actualizar</button>
    {% else %}
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    {% endif %}
</div>
{% if change_ok == None %}
    <script type="text/javascript">
        $fChgPwd = $("#f_changepassword");
        $("#btnChgPwd").on("click", function() {
            $fChgPwd.waitMe({text: "Procesando... Un momento por favor!!!"});
            $fChgPwd.submit();
        });
        var fChgPwdOptions = {
            target: $("#modalUser .modal-content"),
            success: function(res, status, xhr, form) {
            }
        };
        $fChgPwd.ajaxForm(fChgPwdOptions);
        $( document ).ready(function() {
            $("#id_old_password").focus();
        });
    </script>
{% endif %}