{% extends "base_form.html" %}
{% block form_body %}
    <form method='POST' id="formPermisos">
        {% csrf_token %}
        <ul class="nav nav-tabs">
            {% for opcion in opciones %}
                <li {% if forloop.first %}class="active"{% endif %}>
                    <a data-toggle="tab" href="#tab_op_{{ opcion.id }}">
                        {{ opcion.nombre }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for opcion in opciones %}
                <div id="tab_op_{{ opcion.id }}" class="tab-pane fade {% if forloop.first %}in active{% endif %}" style="padding: 5px">
                    {% for menu in menus %}
                        {% if menu.padre == opcion.id %}
                            <div class="form-group">
                                <input name="acc_{{ menu.id }}" type="checkbox" {% if menu.estado %}checked{% endif %}>
                                {{ menu.nombre }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </form>
    <script>
        $formView = $('#formPermisos');
        var form_options = {
            target: $modalForm,
            success: function() {
            }
        }
        $formView.ajaxForm(form_options);
    </script>
{% endblock form_body %}