{% extends "base_form.html" %}
{% block form_body %}
    <form id="formTareaCpCr" method='POST' class="form" role="form">
        {% csrf_token %}
        {% if delete_error != None %}
            <div class="text-danger form-group">
                Error!!: {{ delete_error|escape }}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-2">
                <label for="tarea_nombre"  style="font-weight: bold;">Tarea de Crianza</label>
            </div>
            <div class="10">
                <p id="tarea_nombre">{{ object.nombre }}</p>
            </div>

        </div>

        <div class="row">
            <div class="col-md-2">
                <label for="tarea_base"  style="font-weight: bold;">Base</label>
            </div>
            <div class="10">
                <p id="tarea_base">{{ object.base }}</p>
            </div>

        </div>
    </form>
    <script>
        var form_options = {
            target: $modalForm,
            success: function() {
            }
        }
        $formView = $('#formTareaCpCr');
        $formView.ajaxForm(form_options);
    </script>
{% endblock form_body %}