{% extends "base_drac.html" %}
{% load static from staticfiles %}

{% block maestro_titulo %}
{% endblock maestro_titulo %}

{% block maestro_contenido %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-8 col-md-8"><i class="glyphicon glyphicon-modal-window"></i> Datos a Seleccionar</div>
                            <div class="col-lg-4 col-md-4 text-right">
                                <div class="btn-group text-center">
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="panel-body">
                    {% for field in form %}
                        <div class="form-group row">
                            <div class="col-sm-2 ">
                                <label for="{{ field.id_for_label }}" class="col-form-label etiqueta">{{ field.label}}:</label>
                            </div>
                            <div class="col-sm-10">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    <div id="toolbar">
        <button id="btnNuevo" type="button" class="btn btn-default" >
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
	</div>
	<table id="tablaTareaCpCr"
		data-toolbar="#toolbar"
		data-toggle="table"
		data-url="{% url 'agricola:tareacpcr_listar' %}"
       data-query-params="queryParams">
        <thead>
        <tr>
            <th data-field="nombre" data-sortable="true" data-switchable="true" class="col-md-2">Nombre</th>
            <th data-field="prioridad" data-sortable="true" data-switchable="true" class="col-md-2">Prioridad</th>
            <th data-field="porcentaje_completado" data-sortable="true" data-switchable="true" class="col-md-2">Porcentaje</th>
            <th data-field="persona" data-sortable="true" data-switchable="true" class="col-md-2">Persona</th>
            <th data-field="inicio" data-sortable="true" data-switchable="true" class="col-md-2">Inicio</th>
            <th data-field="fin" data-sortable="true" data-switchable="true" class="col-md-2">Fn</th>
            <th data-field="action" data-formatter="actionFormatter" data-switchable="false" data-events="actionEvents"
                class="col-md-1" data-align="center">Acciones</th>
        </tr>
        </thead>
	</table>
    <div id="modalTareaCpCr" class="modal fade" data-keyboard="true" data-backdrop="true" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button id="btnGuardar" type="button" class="btn btn-primary">Guardar Cambios</button>
          </div>
        </div>
      </div>
    </div>
{% endblock maestro_contenido %}

{% block maestro_scripts %}
<script type="text/javascript">


        url_listar = "{% url 'agricola:tareacpcr_listar' %}"

        $('#toolbar').find('button').prop('disabled', true);

        $('#id_subactividadcomponentes').change(function(event) {
          $('#toolbar button').prop('disabled', false);
          $('#tablaTareaCpCr').bootstrapTable('refresh', {query: {subactividadcomponente: $(this).val()}});

        });
        function queryParams(p) {
          if( $("#id_subactividadcomponentes").val() != ""){
            p.subactividadcomponente = $("#id_subactividadcomponentes").val();
          }
          return p;
        }
        $('#modalTareaCpCr').on('shown.bs.modal', function () {
          $("#id_subactividadcomponente").val($("#id_subactividadcomponentes").val());
        });

    </script>


    <script type="text/javascript">
        url_crear = "{% url 'agricola:tareacpcr_crear' %}";
        url_eliminar = "{% url 'agricola:tareacpcr_eliminar' 0 %}";
        url_eliminar = url_eliminar.substr(0, url_eliminar.length-1);
        url_editar = "{% url 'agricola:tareacpcr_actualizar' 0 %}";
        url_editar = url_editar.substr(0, url_editar.length-1);
        //
        $formTitulo = "Tarea Crianza";
        $formGenero = "o";
        $modalForm = $("#modalTareaCpCr");
        $tablaView = $("#tablaTareaCpCr");
        $formView = null;
        $firstField = 'nombre';
        opcion = "";
        idValue = 0;
        url_post = null;
    </script>
    <script src="{% static 'js/listagrilla.js' %}" type="text/javascript"></script>


{% endblock maestro_scripts %}