{% extends "base_drac.html" %}

{% load static from staticfiles %}

{% block maestro_contenido %}
    <div id="toolbar">
        <button id="btnNuevo" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </div>
    <table id="tablaProfesion"
           data-toggle="table"
           data-url="{% url 'inicio:profesion_listar' %}"
           data-toolbar="#toolbar">
        <thead>
        <tr>
            <th data-field="nombre" data-sortable="true" data-switchable="true" class="col-md-11">Nombre</th>
            <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents"
                class="col-md-1" data-align="center" data-switchable="false">Acción
            </th>
        </tr>
        </thead>
    </table>

    <div id="modalProfesion" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button id="btnProfesionGuardar" type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div><!-- /.modal -->

{% endblock maestro_contenido %}


{% block maestro_scripts %}
    <script src="{% static 'js/profesion/profesion.js' %}" type="text/javascript"></script>
{% endblock maestro_scripts %}


