{% extends "base_drac.html" %}
{% load static from staticfiles %}

{% block maestro_titulo %}
{% endblock maestro_titulo %}

{% block maestro_contenido %}
    <div class="row">
        <div class="form-group">
            <div class="col-sm-2">
              <label for="{{ form.departamento.id_for_label }}" class="etiqueta">{{ form.departamento.label}}:</label>
            </div>
            <div class="col-sm-4">
                {{ form.departamento }}
            </div>

            <div class="col-sm-2">
              <label for="{{ form.provincia.id_for_label }}" class="etiqueta">{{ form.provincia.label}}:</label>
            </div>
            <div class="col-sm-4">
                {{ form.provincia }}
            </div>
        </div>
    </div>
    <div class="row">
    <div class="form-group">
            <div class="col-sm-2">
              <label for="{{ form.distrito.id_for_label }}" class="etiqueta">{{ form.distrito.label}}:</label>
            </div>
            <div class="col-sm-4">
                {{ form.distrito }}
            </div>

            <div class="col-sm-2">
              <label for="{{ form.centropoblados.id_for_label }}" class="etiqueta">{{ form.centropoblados.label}}:</label>
            </div>
            <div class="col-sm-4">
                {{ form.centropoblados }}
            </div>
        </div>
    </div>

    <div id="toolbar">
        <button id="btnNuevo" type="button" class="btn btn-default" >
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
	</div>
    <table id="tablaCaserio"
           data-toolbar="#toolbar"
           data-toggle="table"
           data-url="{% url 'inicio:caserio_lista' %}"
           data-query-params="queryParams">
        <thead>
        <tr>
            <th data-field="codigo" data-sortable="true" data-switchable="true" class="col-md-1">Codigo</th>
            <th data-field="nombre" data-sortable="true" data-switchable="true" class="col-md-3">Nombre</th>
            <th data-field="action" data-formatter="actionFormatter" data-switchable="false" data-events="actionEvents"
                class="col-md-1" data-align="center">Acciones
            </th>
        </tr>
        </thead>
    </table>

    <div id="modalCaserio" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button id="btnGuardar" type="button" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
    </div>
{% endblock maestro_contenido %}
  
{% block maestro_scripts %}
    <script src="{% static 'js/listagrilla.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $('#toolbar button').prop('disabled', true);
        $('#id_centropoblados').change(function (event) {
            $('#toolbar button').prop('disabled', false);
            $('#tablaCaserio').bootstrapTable('refresh');
            url_crear = "{% url 'inicio:caserio_crear' 0 %}";
            url_crear = url_crear.replace("/0", "/" + $("#id_centropoblados").val());
        });
        function queryParams(p) {
            if ($("#id_centropoblados").val() != null) {
                p.centropoblado = $("#id_centropoblados").val();
            }
            return p;
        }
        url_eliminar = "{% url 'inicio:caserio_eliminar' 0 %}";
        url_eliminar = url_eliminar.substr(0, url_eliminar.length-1);
        url_editar = "{% url 'inicio:caserio_actualizar' 0 %}";
        $formTitulo = "Caserio";
        $formGenero = "o";
        $modalForm = $("#modalCaserio");
        $tablaView = $("#tablaCaserio");
        $formView = null;
        $firstField = "id_codigo1";
        opcion = "";
        idValue = 0;
        url_post = null;
        //
        $modalFormLoaded = "caLoadedForm();";
        function caLoadedForm() {
            setTimeout(function() {
                $("#id_centropobladoid").val($("#id_centropoblados").val());
            }, 200);
        }
    </script>
{% endblock maestro_scripts %}

