{% load static from staticfiles %}
<link rel="stylesheet" href="{% static 'js/bootstrap3-editable/css/bootstrap-editable.css' %}">
<script type="text/javascript" src="{% static 'js/bootstrap3-editable/js/bootstrap-editable.min.js' %}"></script>
<script type="text/javascript">
    $.fn.editable.defaults.ajaxOptions={headers:{"X-CSRFToken":"{{ csrf_token }}"}, type:'post', dataType:'json'};
    $.fn.editable.defaults.mode="inline";
    $.fn.editable.defaults.anim="1000";
</script>
<form method="POST" id="formMetaFF">
    <table class="table table-responsive table-bordered table-striped table-hover table-condensed">
        <caption>Programación de Metas Físicas/Financieras</caption>
        <thead>
            <tr>
                <th class="text-center">PROGRAMACIÓN</th>
                <th class="text-center" colspan="2">FÍSICO (%)</th>
                <th class="text-center" colspan="2">FINANCIERO (S/)</th>
            </tr>
            <tr>
                <th class="text-center">MES</th>
                <th class="text-center">Programado</th>
                <th class="text-center">Ejecutado</th>
                <th class="text-center">Programado</th>
                <th class="text-center">Ejecutado</th>
            </tr>
        </thead>
        <tbody>
            {% for metaff in oMetasff %}
                <tr>
                    <td class="col-sm-4">
                        {{ metaff.mes.nombre }}
                    </td>
                    <td class="col-sm-2 text-center">
                        {{ metaff.metafisica_programada|default:0 }}
                    </td>
                    <td class="col-sm-2 text-center">
                        <a href="#" id="valor" class="editable_field" data-type="number" data-pk="{{ metaff.pk }}"
                           data-url="{% url 'planificacion:metaffejecutado_actualizar' %}" data-title="Meta Física" data-params={tipo:"fis"}
                           data-min="0" data-max="{{ metaff.metafisica_programada|default:0|floatformat:2 }}">
                           {{ metaff.metafisica_ejecutada|default:0 }}
                        </a>
                    </td>
                    <td class="col-sm-2 text-center">
                        {{ metaff.metafinanciera_programada|default:0|floatformat:2 }}
                    </td>
                    <td class="col-sm-2 text-center">
                        <a href="#" id="valor" class="editable_field" data-type="number" data-pk="{{ metaff.pk }}"
                           data-url="{% url 'planificacion:metaffejecutado_actualizar' %}" data-title="Meta Financiera" data-params={tipo:"fin"}
                           data-min="0" data-max="{{ metaff.metafinanciera_programada|default:0|floatformat:2 }}" data-step="0.01">
                           {{ metaff.metafinanciera_ejecutada|default:0|floatformat:2 }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
<script type="text/javascript">
    $('.editable_field').editable();
</script>