{% extends "base_drac.html" %}
{% load static from staticfiles %}

{% block maestro_titulo %}
{% endblock maestro_titulo %}

{% block maestro_contenido %}
    <form method='GET' id="formTipo" action="{% url 'planificacion:metaffejecutado_prodproy' %}">
        {% csrf_token %}
        {{ formTipo }}
    </form>
    <div id="dataProdProy">
    </div>
{% endblock maestro_contenido %}

{% block maestro_scripts %}
    <script type="text/javascript">
        $(".formTipo_load").on("change", function() {
            formTipo_load();
        });
        function formTipo_load() {
            $("#formTipo").submit();
        }
        $(document).ready(function() {
            $("#formTipo").ajaxForm({ target: "#dataProdProy" });
            formTipo_load();
        });
    </script>
{% endblock maestro_scripts %}