{% extends "base_form.html" %}
{% block form_body %}
    <form id="formSocio" method='POST' class="form" role="form">
        {% csrf_token %}
        {% if delete_error != None %}
            <div class="text-danger form-group">
                Error!!: {{ delete_error|escape }}
            </div>
        {% endif %}
        {{ object.persona.nombreCompleto }}
        {% if object.telefono|length > 0 %}<br/>{{ object.telefono }}{% endif %}
        {% if object.email|length > 0 %}<br/>{{ object.email }}{% endif %}
        <br/>{{ object.base }}
    </form>
    <script>
        var form_options = {
            target: $modalForm,
            success: function() {
            }
        }
        $formView = $('#formSocio');
        $formView.ajaxForm(form_options);
    </script>
{% endblock form_body %}