{% extends "base_drac.html" %}
{% load static from staticfiles %}

{% block maestro_titulo %}
{% endblock maestro_titulo %}

{% block maestro_contenido %}
    <form method='GET' id="formBase">
        {% csrf_token %}
        {{ formBase }}
    </form>
    <div id="dataSOCIO">
    </div>
{% endblock maestro_contenido %}

{% block maestro_scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#formBase").ajaxForm({ target: "#dataSOCIO" });
        });
        $(".formBase_load").on("change", function() {
            formBase_load();
        });
        function formBase_load() {
            if ($("#cb_base").val() > 0) {
                urlSocios = "{% url 'agricola:socio_tabla' 0 %}";
                urlSocios = urlSocios.replace("/0", "/" + $("#cb_base").val());
                $("#formBase").prop("action", urlSocios).submit();
            }
        }
    </script>
{% endblock maestro_scripts %}