{% load static from staticfiles %}
<script type="text/javascript" src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table-fixed-columns.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table-es-SP.min.js' %}"></script>
<div id="toolbar">
    <button id="btnNuevo" type="button" class="btn btn-default" >
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
</div>
<table id="tablaSocio"
    data-toolbar="#toolbar"
    data-toggle="table"
    data-url="{% url 'agricola:socio_listar' oBase.pk %}">
    <thead>
    <tr>
        <th data-field="persona" data-sortable="true" data-switchable="true" class="col-md-5">Nombre</th>
        <th data-field="ingreso" data-sortable="true" data-switchable="true" class="col-md-2">Ingreso</th>
        <th data-field="email" data-sortable="true" data-switchable="true" class="col-md-2">Email</th>
        <th data-field="telefono" data-sortable="true" data-switchable="true" class="col-md-2">Telefono</th>
        <th data-field="action" data-formatter="actionFormatter" data-switchable="false" data-events="actionEvents"
            class="col-md-1" data-align="center">Acciones</th>
    </tr>
    </thead>
</table>
<div id="modalSocio" class="modal fade" data-keyboard="true" data-backdrop="true" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button id="btnGuardar" type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Exportar</h4>
      </div>
      <div class="modal-body">
          <div class="row">
            <p>
                <form method="Post">
                  <div class="form-group col-xs-12 col-sm-6">
                    <label for="f_inicio">Inicio:</label>
                    <input type="text" name="inicio" id="f_inicio" data-datepicker-type="4" required="" data-provide="datepicker-inline" class="form-control datepicker">
                    <p class="help-text">
                        Ejemplo: 01-01-2017
                    </p>
                  </div>
                  <div class="form-group col-xs-12 col-sm-6">
                    <label for="f_fin">Fin:</label>
                    <input type="text" name="fin" id="f_fin" data-datepicker-type="4" required="" data-provide="datepicker-inline" class="form-control datepicker">
                    <p class="help-text">
                        Ejemplo: 01-01-2017
                    </p>
                  </div>
                  <div class="col-xs-12 text-right">
                    <button id="btnExcel" type="button" class="btn btn-default">Exportar</button>    
                  </div>
                </form>
            </p>  
          </div>
      </div>
      <!-- div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div -->
    </div>

  </div>
</div>

<script src="{% static 'js/listagrilla.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    url_crear = "{% url 'agricola:socio_crear' %}";
    url_eliminar = "{% url 'agricola:socio_eliminar' 0 %}";
    url_eliminar = url_eliminar.substr(0, url_eliminar.length-1);
    url_editar = "{% url 'agricola:socio_actualizar' 0 %}";
    url_editar = url_editar.substr(0, url_editar.length-1);
    //
    $formTitulo = "Socio";
    $formGenero = "o";
    $modalForm = $("#modalSocio");
    $tablaView = $("#tablaSocio");
    $formView = null;
    $firstField = 'tb_base';
    opcion = "";
    idValue = 0;
    url_post = null;
    //
    $modalFormLoaded = "scLoadedForm();";
    function scLoadedForm() {
        setTimeout(function() {
            $("#id_baseid").val($("#cb_base").val());
        }, 200);
    }
</script>

