{% extends "base_form.html" %}
{% block form_body %}
    <form id="formDivisionFuncional" method='POST' class="form" role="form">
        {% csrf_token %}
        <input type="hidden" name="divisionfuncional_id" value="{{ divisionfuncional_id }}">
        {{ object.nombre }}
    </form>
    <script>
        var form_options = {
            target: $modalForm,
            success: function() {
            }
        }
        $formView = $('#formDivisionFuncional');
        $formView.ajaxForm(form_options);
    </script>
{% endblock form_body %}