{% extends "base_drac.html" %}
{% load static from staticfiles %}

{% block maestro_titulo %}
{% endblock maestro_titulo %}

{% block maestro_contenido %}
    <form method='GET' id="formEspecie">
        {% csrf_token %}
        {{ formEspecie }}
    </form>
    <div id="dataRAZA">
    </div>
{% endblock maestro_contenido %}

{% block maestro_scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#formEspecie").ajaxForm({ target: "#dataRAZA" });
        });
        $(".formEspecie_load").on("change", function() {
            formEspecie_load();
        });
        function formEspecie_load() {
            if ($("#cb_especie").val() > 0) {
                urlRazas = "{% url 'agricola:raza_tabla' 0 %}";
                urlRazas = urlRazas.replace("/0", "/" + $("#cb_especie").val());
                $("#formEspecie").prop("action", urlRazas).submit();
            }
        }
    </script>
{% endblock maestro_scripts %}