{% extends "base_drac.html" %}
{% load static from staticfiles %}

{% block maestro_titulo %}
{% endblock maestro_titulo %}

{% block maestro_contenido %}
    <form method='POST' id="formPeriodoEje" action="{% url 'planificacion:accionestrategica_pdrc' %}">
        {% csrf_token %}
        {{ form }}
    </form>
    <div id="dataPDRC">
    </div>
{% endblock maestro_contenido %}

{% block maestro_scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#formPeriodoEje").ajaxForm({ target: "#dataPDRC" });
        });
        $(".formPeriodoEje_load").on("change", function() {
            formPeriodoEje_load();
        });
        function formPeriodoEje_load() {
            if ($("#cb_periodo").val() > 0 && $("#cb_eje").val()) {
                $("#formPeriodoEje").submit();
            }
        }
    </script>
{% endblock maestro_scripts %}