{% load static from staticfiles %}
<script type="text/javascript" src="{% static 'js/select2/django_select2.js' %}"></script>
<form method='GET' id="formObjEspPdrc">
    {% csrf_token %}
    {{ formObjEspPdrc }}
</form>
<div id="dataAccionesEstrategicas">
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#formObjEspPdrc").ajaxForm({ target: "#dataAccionesEstrategicas" });
    });
    $(".formObjEspPdrc_load").on("change", function() {
        formObjEspPdrc_load();
    });
    function formObjEspPdrc_load() {
        if ($("#cb_objesppdrc").val() > 0) {
            url_AE = "{% url 'planificacion:accionestrategica_tabla' 0 %}";
            url_AE = url_AE.replace("/0", "/" + $("#cb_objesppdrc").val());
            $("#formObjEspPdrc").prop("action", url_AE).submit();
        }
    }
</script>