{% extends "base_drac.html" %}
{% load static from staticfiles %}

{% block maestro_titulo %}
{% endblock maestro_titulo %}

{% block maestro_contenido %}
    <form method='GET' id="formPdrc" action="{% url 'planificacion:accionestrategica_objpdrc' %}">
        {% csrf_token %}
        {{ formPdrc }}
    </form>
    <div id="dataOBJPDRC">
    </div>
{% endblock maestro_contenido %}

{% block maestro_scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#formPdrc").ajaxForm({ target: "#dataOBJPDRC" });
        });
        $(".formPdrc_load").on("change", function() {
            formPdrc_load();
        });
        function formPdrc_load() {
            if ($("#cb_pdrc").val() > 0) {
                $("#formPdrc").submit();
            }
        }
    </script>
{% endblock maestro_scripts %}
