body {
	padding-top: 55px;
	font-size: 13px;
}

.btn-action {
	margin: 1px 4px;
}

.breadcrumb {
	background: none;
	border: none;
	margin: 0;
	text-transform: none;
	padding: 5px;
}

.maestro_titulo {
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.8em
}

.fixed-table-body {
	border: 1px solid #F5F5F5;
}

.fixed-table-pagination,
.fixed-table-pagination .dropdown-toggle,
.fixed-table-toolbar button,
.fixed-table-toolbar input {
	font-size: 0.9em;
}

.fixed-table-toolbar {
	margin: 0;
}

.fixed-table-toolbar input[type='text'] {
	height: 2.95em;
}

.fixed-table-toolbar input[type='checkbox'] {
	margin-right: 5px;
}

.fixed-table-toolbar .dropdown-menu {
	padding-top: 8px;
}

.fixed-table-container {
	border: none !important;
}

.etiqueta {
	line-height: 3em;
}

textarea {
	resize: none;
}

.label-error {
	color: red;
	font-size: 0.85em;
}

.lista {
  /*width:100%;*/
  /*margin-bottom:20px;*/
  overflow:hidden;
  /*border-top:1px solid #ccc;*/
}
.lista li {
  	line-height:1.5em;
	float:left;
  	display:inline;
	padding-top: 5px;
}
.lista-2 li { width:50%;} /* 2 col */
.lista-3 li { width:33.333%; } /* 3 col */
.lista-4 li { width:25%; } /* 4 col */
.lista-5 li { width:16.666%; } /* 6 col */