{% extends "base_form.html" %}
{% block form_body %}
    <form method='POST' id="formOrganizacion" >
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group row">
                {% if field.is_hidden  %}
                {% else %}
                  <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label">{{ field.label}}:</label>
                {% endif %}
              <div class="col-sm-9">
                    {{ field }}
                </div>
                {% for error in field.errors  %}
                <div class="col-sm-9 col-sm-offset-3" >
                    <label id="{{ field.id_for_label }}_label"for="{{ field.id_for_label }}" class="label-error">
                        {{ error|escape }}
                    </label>
                </div>
                {% endfor %}
            </div>
        {% endfor %}

    </form>
    <script>
        $formView = $('#formOrganizacion');
        var form_options = {
            target: $modalForm,
            success: function() {
            }
        }
        $formView.ajaxForm(form_options);
    </script>
{% endblock form_body %}