{% extends "base_form.html" %}
{% block form_body %}
    <form id="formObjetivoEspecifico" method='POST' class="form" role="form">
        {% csrf_token %}
        {% if delete_error != None %}
            <div class="text-danger form-group">
                Error!!: {{ delete_error|escape }}
            </div>
        {% endif %}
        <h5>{{ object.codigo }} {{ object.descripcion }}</h5>
        Estado : <b>{{ object.estado|yesno:'Activo, Inactivo' }}</b>
    </form>
    <script>
        var form_options = {
            target: $modalForm,
            success: function() {
            }
        }
        $formView = $('#formObjetivoEspecifico');
        $formView.ajaxForm(form_options);
    </script>
{% endblock form_body %}