{% load static from staticfiles %}
<script type="text/javascript" src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table-fixed-columns.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table-es-SP.min.js' %}"></script>

<div id="toolbar">
    <button id="btnNuevo" type="button" class="btn btn-default" >
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
</div>

<table id="tablaPdrcObjetivoEspecifico"
       data-toolbar="#toolbar"
       data-toggle="table"
       data-url="{% url 'planificacion:pdrcobjesp_listar' oObjetivo.pk %}">
    <thead>
        <tr>
            <th data-field="id" data-visible="false" data-switchable="false">id</th>
            <th data-field="codigo" data-sortable="true" data-switchable="true" class="col-md-3">Código</th>
            <th data-field="descripcion" data-sortable="true" data-switchable="true" class="col-7">Descripción</th>
            <th data-field="estado" data-sortable="true" data-switchable="true" class="col-md-2">Estado</th>
            <th data-field="action" data-formatter="actionFormatter" data-switchable="false"
                data-events="actionEvents" class="col-md-1" data-align="center">Acciones
            </th>
        </tr>
    </thead>
</table>

<div id="modalObjetivoEspecifico" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button id="btnGuardar" type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>





<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Exportar</h4>
      </div>
      <div class="modal-body">
          <div class="row">
            <p>
                <form method="Post">
                  <div class="form-group col-xs-12 col-sm-6">
                    <label for="exp_inicio">Desde:</label>
                    <select name="inicio" id="exp_inicio" class="form-control">
                      <option value="1">Enero</option>
                      <option value="2">Febrero</option>
                      <option value="3">Marzo</option>
                      <option value="4">Abril</option>
                      <option value="5">Mayo</option>
                      <option value="6">Junio</option>
                      <option value="7">Julio</option>
                      <option value="8">Agosto</option>
                      <option value="9">Setiembre</option>
                      <option value="10">Octubre</option>
                      <option value="11">Noviembre</option>
                      <option value="12">Diciembre</option>
                    </select>
                  </div>
                  <div class="form-group col-xs-12 col-sm-6">
                    <label for="exp_fin">Hasta:</label>
                    <select name="fin" id="exp_fin" class="form-control">
                      <option value="1">Enero</option>
                      <option value="2">Febrero</option>
                      <option value="3">Marzo</option>
                      <option value="4">Abril</option>
                      <option value="5">Mayo</option>
                      <option value="6">Junio</option>
                      <option value="7">Julio</option>
                      <option value="8">Agosto</option>
                      <option value="9">Setiembre</option>
                      <option value="10">Octubre</option>
                      <option value="11">Noviembre</option>
                      <option value="12">Diciembre</option>
                    </select>
                  </div>
                  <div class="col-xs-12 text-right">
                    <button id="btnExcel" type="button" class="btn btn-default">Exportar</button>    
                  </div>
                </form>
            </p>  
          </div>
      </div>
      <!-- div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div -->
    </div>

  </div>
</div>




<script src="{% static 'js/listagrilla.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    url_crear = "{% url 'planificacion:pdrcobjesp_crear' %}";
    url_eliminar = "{% url 'planificacion:pdrcobjesp_eliminar' 0 %}";
    url_eliminar = url_eliminar.substr(0, url_eliminar.length-1);
    url_editar = "{% url 'planificacion:pdrcobjesp_actualizar' 0 %}";
    url_editar = url_editar.substr(0, url_editar.length-1);
    //
    $formTitulo = "Objetivo Específico";
    $formGenero = "o";
    $modalForm = $("#modalObjetivoEspecifico");
    $tablaView = $("#tablaPdrcObjetivoEspecifico");
    $formView = null;
    $firstField = "id_codigo";
    opcion = "";
    idValue = 0;
    url_post = null;
    //
    $modalFormLoaded = "aeLoadedForm();";
    function aeLoadedForm() {
        setTimeout(function() {
            $("#id_objetivoid").val($("#cb_objpdrc").val());
        }, 200);
    }
</script>

