{% load static from staticfiles %}
<script type="text/javascript" src="{% static 'js/select2/django_select2.js' %}"></script>
<form method='GET' id="formObjPdrc" action="{% url 'planificacion:pdrcobjesp_inicio' 0 %}">
    {% csrf_token %}
    {{ formObjPdrc }}
</form>
<div id="dataOBJESPPDRC">
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#formObjPdrc").ajaxForm({ target: "#dataOBJESPPDRC" });
    });
    $(".formObjPdrc_load").on("change", function() {
        formObjPdrc_load();
    });
    function formObjPdrc_load() {
        if ($("#cb_objpdrc").val() > 0) {

            urlOE = "{% url 'planificacion:pdrcobjesp_inicio' 0 %}";
            urlOE = urlOE.replace("/0", "/" + $("#cb_objpdrc").val() );

            $("#formObjPdrc").prop("action", urlOE).submit();
        }
    }
</script>