{% extends "base_form.html" %}
{% block form_body %}
    <form id="formEspecialidad" method='POST' class="form" role="form">
        {% csrf_token %}
        <input type="hidden" name="especialidad_id" value="{{ especialidad_id }}">
        {{ object.nombre }}
    </form>
    <script>
        var form_options = {
            target: $modalForm,
            success: function() {
            }
        }
        $formView = $('#formEspecialidad');
        $formView.ajaxForm(form_options);
    </script>
{% endblock form_body %}
