{% extends "base_form.html" %}
{% block form_body %}
    <div class="form-control bold alert-info text-info" style="margin-bottom: 10px">
        {{ object.nombre }}
    </div>
    <form id="formEnfermedadesXEspecie" method='POST' class="form" role="form">
        {% csrf_token %}
        {% for item in form.seleccionado %}
            {% if not forloop.counter|divisibleby:2 %}
                <div class="row">
            {% endif %}
                <div class="col-sm-6">{{ item }}</div>
            {% if forloop.counter|divisibleby:2 %}
                </div>
            {% endif %}
        {% endfor %}
    </form>
    <script>
        var form_options = {
            target: $modalForm,
            success: function() {
            }
        };
        $formView = $('#formEnfermedadesXEspecie');
        $formView.ajaxForm(form_options);
    </script>
{% endblock form_body %}