{% extends "base_form.html" %}
{% block form_body %}
    <form method='POST' id="formEspecie" >
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group row">
                <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label" style="{% if field.field.required == True %}font-weight: bold;{% endif %}">{{ field.label}}:</label>
                <div class="col-sm-10">
                    {{ field }}
                </div>
                {% for error in field.errors  %}
                    <div class="col-sm-12 col-sm-offset-2" >
                        <label id="{{ field.id_for_label }}_label"for="{{ field.id_for_label }}" class="text-danger">
                            {{ error|escape }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </form>
    <script type="text/javascript">
        $formView = $('#formEspecie');
        var form_options = {
            target: $modalForm,
            success: function() {
            }
        }
        $formView.ajaxForm(form_options);
    </script>
{% endblock form_body %}
