{% extends "base_drac.html" %}
{% load static from staticfiles %}

{% block maestro_titulo %}
{% endblock maestro_titulo %}

{% block maestro_contenido %}
    <div id="toolbar">
        <button id="btnNuevo" type="button" class="btn btn-default" >
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
	</div>
	<table id="tablaEspecie"
		data-toolbar="#toolbar"
		data-toggle="table"
		data-url="{% url 'agricola:especie_listar' %}">
        <thead>
        <tr>
            <th data-field="nombre" data-sortable="true" data-switchable="true" class="col-md-9">Nombre</th>
            <th data-field="estado" data-sortable="true" data-switchable="true" class="col-md-1">Estado</th>
            <th data-field="enfermedades" data-sortable="false" data-switchable="true" class="col-md-1">Enf.</th>
            <th data-field="action" data-formatter="actionFormatter" data-switchable="false" data-events="actionEvents"
                class="col-md-1" data-align="center">Acciones</th>
        </tr>
        </thead>
	</table>
    <div id="modalEspecie" class="modal fade" data-keyboard="true" data-backdrop="true" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button id="btnGuardar" type="button" class="btn btn-primary">Guardar Cambios</button>
          </div>
        </div>
      </div>
    </div>
{% endblock maestro_contenido %}

{% block maestro_scripts %}
    <script src="{% static 'js/listagrilla.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        url_crear = "{% url 'agricola:especie_crear' %}";
        url_eliminar = "{% url 'agricola:especie_eliminar' 0 %}";
        url_eliminar = url_eliminar.substr(0, url_eliminar.length-1);
        url_editar = "{% url 'agricola:especie_actualizar' 0 %}";
        url_editar = url_editar.substr(0, url_editar.length-1);
        //
        $formTitulo = "Especie";
        $formGenero = "a";
        $modalForm = $("#modalEspecie");
        $tablaView = $("#tablaEspecie");
        $formView = null;
        $firstField = 'id_nombre';
        opcion = "";
        idValue = 0;
        url_post = null;
        //
        $grillaOtrasAccionesButton = [
            '<a class="btn-action enfermedades " href="javascript:void(0)" title="Enfermedades" role="button">',
	        '<span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a>',
        ];
        aEvents = window.actionEvents;
        oEvents = {
            'click .enfermedades': function (e, value, row, index) {
                idValue = row['id'];
                opcion = "Enfermedades";
                url_load = "{% url 'agricola:especie_enfermedades' 0 %}";
                url_load = url_load.replace("/0/", "/" + idValue + "/");
                url_post = url_load;
                $modalForm.modal('show');
                $modalForm.waitMe({text: "Cargando..."});
            },
        };
        window.actionEvents = Object.assign({}, aEvents, oEvents)

    </script>
{% endblock maestro_scripts %}