{% extends "base_form.html" %}
{% block form_body %}
    <form method='POST' id="formPlaga" >
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group row">
                <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label" style="{% if field.field.required == True %}font-weight: bold;{% endif %}">{{ field.label}}:</label>
                <div class="col-sm-9">
                    {{ field }}
                </div>
                {% for error in field.errors  %}
                <div class="col-sm-9 col-sm-offset-3" >
                    <label id="{{ field.id_for_label }}_label"for="{{ field.id_for_label }}" class="label-error">
                        {{ error|escape }}
                    </label>
                </div>
                {% endfor %}
            </div>
        {% endfor %}
    </form>
    <script type="text/javascript">
        $formView = $('#formPlaga');
        var form_options = {
            target: $modalForm,
            success: function() {
            }
        }
        $formView.ajaxForm(form_options);
    </script>
{% endblock form_body %}
