
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-8 col-md-8"><i class="glyphicon glyphicon-modal-window"></i> Datos del Socio</div>
            <div class="col-lg-4 col-md-4 text-right">
                <div class="btn-group text-center">
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="panel" style="margin-bottom: 10px !important;">
            <table class="table table-responsive">
                <tbody>

                    <tr>
                        <td class="text-primary col-xs-2">Caserío</td>
                        <td>{{ socio.base.caserio.nombre }}</td>
                    </tr>
                    <tr>
                        <td class="text-primary col-xs-2">Ubigeo</td>
                        <td>{{ socio.base.caserio.centropoblado.distrito.nombre }} /
                            {{ socio.base.caserio.centropoblado.distrito.provincia.nombre }} /
                            {{ socio.base.caserio.centropoblado.distrito.provincia.departamento.nombre }}</td>
                    </tr>
                    <tr>
                        <td class="text-primary col-xs-2">Organización</td>
                        <td>{{ socio.base.organizacion.nombre }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>