{% extends "base_form.html" %}
{% block form_body %}
    <form id="formTipoOrganizacion" method='POST' class="form" role="form">
        {% csrf_token %}
        {% if delete_error != None %}
            <div class="text-danger form-group">
                Error!!: {{ delete_error|escape }}
            </div>
        {% endif %}
        {{ object.nombre }}
    </form>
    <script>
        var form_options = {
            target: $modalForm,
            success: function() {
            }
        }
        $formView = $('#formTipoOrganizacion');
        $formView.ajaxForm(form_options);
    </script>
{% endblock form_body %}