{% extends "base_drac.html" %}
{% load static from staticfiles %}

{% block maestro_estilos %}
{% endblock maestro_estilos %}

{% block maestro_contenido %}
    {% for field in form %}
        <div class="form-group row">
            <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label" style="{% if field.field.required == True %}font-weight: bold;{% endif %}">{{ field.label}}:</label>
            <div class="col-sm-10">
                {{ field }}
            </div>
        </div>
    {% endfor %}
    <div id="toolbar">
        <button id="btnNuevo" type="button" class="btn btn-default" disabled="disabled">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </div>
    <table id="tablaPdrcObjetivo"
           data-toolbar="#toolbar"
           data-toggle="table"
           data-url="{% url 'planificacion:pdrcobjetivo_listar' %}"
           data-query-params="queryParams">
        <thead>
            <tr>
                <th data-field="codigo" data-sortable="true" data-switchable="true" class="col-md-1">Código</th>
                <th data-field="descripcion" data-sortable="true" data-switchable="true" class="col-9">Descripción</th>
                <th data-field="estado" data-sortable="true" data-switchable="true" class="col-md-1">Estado</th>
                <th data-field="action" data-formatter="actionFormatter" data-switchable="false"
                    data-events="actionEvents" class="col-md-1" data-align="center">Acciones
                </th>
            </tr>
        </thead>
    </table>

    <form method="get" id="fObj"></form>
    <div id="grillaObjEsp"></div>

    <div id="modalPdrcObjetivo" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button id="btnGuardar" type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock maestro_contenido %}

{% block maestro_scripts %}
    <script src="{% static 'js/listagrilla.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(".cb_primario").on("change", function(e) {
            $(".cb_pdrc").empty();
            $("#btnNuevo").prop("disabled", true);
            $("#tablaPdrcObjetivo").bootstrapTable('refresh');
        });
        function queryParams(p) {
            p.pdrcid = $(".cb_pdrc").val();
            if (!p.pdrcid) p.pdrcid = 0;
            return p;
        }
        $(".cb_pdrc").on("change", function(e) {
            $("#btnNuevo").prop("disabled", btnAddDisabled());
            $("#tablaPdrcObjetivo").bootstrapTable('refresh');
        });
        function btnAddDisabled() {
            return !($(".cb_pdrc").val() > 0);
        }
        url_crear = "{% url 'planificacion:pdrcobjetivo_crear' %}";
        url_eliminar = "{% url 'planificacion:pdrcobjetivo_eliminar' 0 %}";
        url_eliminar = url_eliminar.substr(0, url_eliminar.length - 1);
        url_editar = "{% url 'planificacion:pdrcobjetivo_actualizar' 0 %}";
        url_editar = url_editar.substr(0, url_editar.length - 1);
        //
        $formTitulo = "Objetivo General";
        $formGenero = "o";
        $modalForm = $("#modalPdrcObjetivo");
        $tablaView = $("#tablaPdrcObjetivo");
        $formView = null;
        $firstField = "id_codigo";
        opcion = "";
        idValue = 0;
        url_post = null;
        //
        $modalFormLoaded = "formLoadUrl();";
        function formLoadUrl() {
            setTimeout(function() {
                console.log($("#id_pdrcid"));
                if ($("#id_pdrcid")) $("#id_pdrcid").val($(".cb_pdrc").val())
            }, 500);
        }

        $("#fObj").ajaxForm({
            target: $("#grillaObjEsp"),
            success: function() {
            }
        });
    </script>
{% endblock maestro_scripts %}