{% load static from staticfiles %}
<script type="text/javascript" src="{% static 'js/select2/django_select2.js' %}"></script>
<form method='GET' id="formActividad">
    {% csrf_token %}
    {{ formActividad }}
</form>
<div id="dataMetaFF">
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#formActividad").ajaxForm({ target: "#dataMetaFF" });
    });
    $(".formActividad_load").on("change", function() {
        formActividad_load();
    });
    function formActividad_load() {
        if ($("#cb_actividad").val() > 0) {
            url_MFF = "{% url 'planificacion:metaffprogramado_tabla' 0 %}";
            url_MFF = url_MFF.replace("/0", "/" + $("#cb_actividad").val());
            $("#formActividad").prop("action", url_MFF).submit();
        }
    }
</script>