{% load static from staticfiles %}
<script type="text/javascript" src="{% static 'js/select2/django_select2.js' %}"></script>
<form method='GET' id="formProdProy" action="{% url 'planificacion:metaffprogramado_accionestrategica' %}">
    {% csrf_token %}
    {{ formProdProy }}
</form>
<div id="dataAccEst">
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#formProdProy").ajaxForm({ target: "#dataAccEst" });
    });
    $(".formProdProy_load").on("change", function() {
        formProdProy_load();
    });
    function formProdProy_load() {
        if ($("#cb_prodproy").val() > 0) {
            $("#formProdProy").submit();
        }
    }
</script>
