{% extends "base_form.html" %}
{% block form_body %}
    <form id="formProgramaPresupuestal" method='POST' class="form" role="form">
        {% csrf_token %}
{#        <input type="hidden" name="area_id" value="{{ area_id }}">#}
        {{ object.nombre }}
    </form>
    <script>
{#        var form_options = {#}
{#            target: $modalForm,#}
{#            success: function() {}#}
{#        }#}
{#        $formView = $('#formPDRCobjetivo');#}
{#        $formView.ajaxForm(form_options);#}
    </script>
{% endblock form_body %}