{% extends "base_drac.html" %}
{% load static from staticfiles %}

{% block maestro_estilos %}
{% endblock maestro_estilos %}

{% block maestro_contenido %}
    {% for field in form %}
        <div class="form-group row">
            <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label" style="{% if field.field.required == True %}font-weight: bold;{% endif %}">{{ field.label}}:</label>
            <div class="col-sm-10">
                {{ field }}
            </div>
        </div>
    {% endfor %}
    <div id="toolbar">
        <button id="btnNuevo" type="button" class="btn btn-default" >
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </div>
    <table id="tablaProgramaPresupuestal"
           data-toolbar="#toolbar"
           data-toggle="table"
           data-url="{% url 'planificacion:programapresupuestal_listar' %}">
        <thead>
            <tr>
                <th data-field="codigo" data-sortable="true" data-switchable="true" class="col-md-1">Código</th>
                <th data-field="nombre" data-sortable="true" data-switchable="true" class="col-md-3">Nombre</th>
                <th data-field="descripcion" data-sortable="true" data-switchable="true" class="col-3">Descripción</th>
                <th data-field="unidadmedida" data-sortable="true" data-switchable="true" class="col-md-2">Unidad Medida</th>
                <th data-field="indicador" data-sortable="true" data-switchable="true" class="col-md-2">Indicador</th>
                <th data-field="action" data-formatter="actionFormatter" data-switchable="false"
                    data-events="actionEvents" class="col-md-1" data-align="center">Acciones
                </th>
            </tr>
        </thead>
    </table>

    <div id="modalProgramaPresupuestal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button id="btnGuardar" type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock maestro_contenido %}

{% block maestro_scripts %}
    <script src="{% static 'js/listagrilla.js' %}" type="text/javascript"></script>
    <script type="text/javascript">

        url_crear = "{% url 'planificacion:programapresupuestal_crear' %}";
        url_eliminar = "{% url 'planificacion:programapresupuestal_eliminar' 0 %}";
        url_eliminar = url_eliminar.substr(0, url_eliminar.length - 1);
        url_editar = "{% url 'planificacion:programapresupuestal_actualizar' 0 %}";
        url_editar = url_editar.substr(0, url_editar.length - 1);
        //
        $formTitulo = "Programa Presupuestal";
        $formGenero = "o";
        $modalForm = $("#modalProgramaPresupuestal");
        $tablaView = $("#tablaProgramaPresupuestal");
        $formView = null;
        $firstField = "id_codigo";
        opcion = "";
        idValue = 0;
        url_post = null;
        //


    </script>
{% endblock maestro_scripts %}