{% extends "base_drac.html" %}
{% load static from staticfiles %}

{% block maestro_estilos %}
{% endblock maestro_estilos %}

{% block maestro_contenido %}
    <div id="toolbar">
        <button id="btnNuevo" type="button" class="btn btn-default" >
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
	</div>
	<table id="tablaPersonaAdministracion"
		data-toolbar="#toolbar"
		data-toggle="table"
	    data-height="480"
		data-show-refresh="true"
		data-show-toggle="true"
		data-show-columns="true"
		data-url="{% url 'administracion:persona_listar' %}"
		data-side-pagination="server"
		data-pagination="true"
		data-page-list="[10, 15, 25]"
		data-pagination-first-text="Primero"
		data-pagination-pre-text="Anterior"
		data-pagination-next-text="Siguiente"
		data-pagination-last-text="Ultimo"
		data-search="true"
		data-row-style="rowStyle">
	    <thead>
	        <tr>
	        	<th data-field="id" data-visible="false" class="col-md-1" data-switchable="false">id</th>
            	<th data-field="dni" data-sortable="true" data-switchable="true" class="col-md-2">DNI</th>
                <th data-field="nombres" data-sortable="true" data-switchable="true" class="col-md-6">Nombres</th>
                <th data-field="sexo" data-sortable="false" data-switchable="fade" class="col-md-1">Sexo</th>
                <th data-field="fechanacimiento" data-sortable="true" data-switchable="false" class="col-md-2">Fecha Nacimiento</th>
            	<th data-field="action" data-formatter="actionFormatter" data-switchable="false"
                    data-events="actionEvents" class="col-md-1" data-align="center"></th>
	        </tr>
	    </thead>
	</table>
    <div id="modalPersona" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button id="btnGuardar" type="button" class="btn btn-primary">Guardar Cambios</button>
          </div>
        </div>
      </div>
    </div>
{% endblock maestro_contenido %}

{% block maestro_scripts %}
    <script type="text/javascript">
        url_crear = "{% url 'administracion:persona_crear' %}";
        url_eliminar = "{% url 'administracion:persona_eliminar' 0 %}";
        url_eliminar = url_eliminar.substr(0, url_eliminar.length-1);
        url_editar = "{% url 'administracion:persona_actualizar' 0 %}";
        url_editar = url_editar.substr(0, url_editar.length-1);
        //
        $formTitulo = "Persona";
        $formGenero = "a";
        $modalForm = $("#modalPersona");
        $tablaView = $("#tablaPersonaAdministracion");
        $formView = null;
        $firstField = "id_dni";
        opcion = "";
        idValue = 0;
        url_post = null;
    </script>
    <script src="{% static 'js/listagrilla.js' %}" type="text/javascript"></script>
{% endblock maestro_scripts %}