{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DRAC</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/token.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-table.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-table-fixed-columns.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-table-es-SP.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/waitMe.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sweetalert2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/toastr.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-toggle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/locales/bootstrap-datetimepicker.es.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/select2/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/select2/i18n/es.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/select2/django_select2.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/funciones.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/yeti.css' %}">

    <link rel="icon" type="image/png" href="{% static 'img/favicon-32x32.png' %}" sizes="32x32"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

{#    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-table.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-table-fixed-columns.css' %}">
    <link rel="stylesheet" href="{% static 'css/waitMe.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-toggle.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/touchspin/jquery.bootstrap-touchspin.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.css' %}">

    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">

    <style type="text/css">
        .toast{
            margin-top: 55px !important;
        }
        .swal2-title{
            font-size: 18px !important;
        }
    </style>

    {% block maestro_estilos %}
    {% endblock maestro_estilos %}
</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Sis<strong>DRAC</strong> </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                {% for menu in request.app_menus %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ menu.nombre }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for subMenu in request.app_submenus %}
                                {% if subMenu.padre.id == menu.id %}
                                    {% if subMenu.separador == True %}
                                        <li role="separator" class="divider"></li>
                                    {% endif %}
                                    <li><a href="{% if subMenu.ruta == None %} # {% else %}{% url subMenu.ruta %}{% endif %}">{{ subMenu.nombre }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span>&nbsp;
                        {% if request.user.persona.nombreCompleto|length == 0 %}
                            {{ request.user.username }}
                        {% else %}
                            {{ request.user.persona.nombreCompleto }}
                        {% endif %}
                        <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a id="btnCambiar" href="{% url 'administracion:usuario_cambiarpassword' %}"
                                data-toggle="modal" data-target="#modalUser">
                                <span class="glyphicon glyphicon-lock"></span>
                                Cambiar Contraseña
                            </a>
                        </li>
                        <li>
                            <a id="btnCerrar" href="{% url 'inicio:user_logout' %}">
                                <span class="glyphicon glyphicon-off"></span>
                                Cerrar Sesión
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    {% if request.app_menu_actual != None %}
    <div class="well well-sm " style="margin-bottom: 15px;">
        <div class="row">
            <div class="col-xs-6 maestro_titulo">
                {{ request.app_menu_actual.Descripcion }}
            </div>
            <div class="col-xs-6 text-right">
                <ol class="breadcrumb">
                    <li><a href="javascript:void(0)" >{{ request.app_menu_actual.padre.nombre }}</a></li>
                    <li class="active">{{ request.app_menu_actual.nombre }}</li>
                </ol>
            </div>
        </div>
    </div>
{% endif %}

    {% block maestro_contenido %}
    {% endblock maestro_contenido %}

<div id="modalUser" class="modal fade" data-keyboard="true" data-backdrop="true" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

</div> <!-- /container -->

<script type="text/javascript">
    $.fn.modal.Constructor.prototype.enforceFocus = function () {};
    toastr.options = {
        "closeButton": false,
        "positionClass": "toast-top-center",
        "showEasing": "linear",
        "hideEasing": "linear",
        "showMethod": "slideDown",
        "hideMethod": "slideUp",
        "hideDuration": 50,
        "showDuration":300,
        "preventDuplicates": true,
    }

    swal.setDefaults({
        padding: 10,
        confirmButtonText: "Aceptar",
        cancelButtonText: "Cancelar",
        buttonsStyling: false,
        confirmButtonClass: 'btn btn-primary',
        cancelButtonClass: 'btn btn-default'
    });
</script>
{% block maestro_scripts %}
{% endblock maestro_scripts %}
</body>
</html>
