{% load static from staticfiles %}
<script type="text/javascript" src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table-fixed-columns.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table-es-SP.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/select2/django_select2.js' %}"></script>

{{ formCadPro }}

<div id="toolbar">
    <button id="btnNuevo" type="button" class="btn btn-default" >
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
</div>
<table id="tablaActividad"
    data-toolbar="#toolbar"
    data-toggle="table"
    data-url="{% url 'planificacion:actividad_listar' oAeXPop.pk formCadPro.opcadpro.value %}">
    <thead>
        <tr>
            <th data-field="anio" data-sortable="true" data-switchable="true" class="col-md-1">Año</th>
            <th data-field="nombre" data-sortable="true" data-switchable="true" class="col-md-2">Nombre</th>
            <th data-field="area" data-sortable="true" data-switchable="true" class="col-md-2">Área</th>
            <th data-field="funcion" data-sortable="true" data-switchable="true" class="col-md-2">Función</th>
            <th data-field="divisionfuncional" data-sortable="true" data-switchable="true" class="col-md-1">División Funcional</th>
            <th data-field="grupofuncional" data-sortable="true" data-switchable="true" class="col-md-1">Grupo Funcional</th>
            <th data-field="indicador" data-sortable="true" data-switchable="true" class="col-md-1">Indicador</th>
            <th data-field="unidadmedida" data-sortable="true" data-switchable="true" class="col-md-1">Un. Medida</th>
            <th data-field="action" data-formatter="actionFormatter" data-switchable="false" data-events="actionEvents"
                class="col-md-1" data-align="center">Acciones</th>
        </tr>
    </thead>
</table>
<div id="modalActividad" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button id="btnGuardar" type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/listagrilla.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    url_crear = "{% url 'planificacion:actividad_crear' %}";
    url_eliminar = "{% url 'planificacion:actividad_eliminar' 0 %}";
    url_eliminar = url_eliminar.substr(0, url_eliminar.length-1);
    url_editar = "{% url 'planificacion:actividad_actualizar' 0 %}";
    url_editar = url_editar.substr(0, url_editar.length-1);
    //
    $formTitulo = "Actividad";
    $formGenero = "a";
    $modalForm = $("#modalActividad");
    $tablaView = $("#tablaActividad");
    $formView = null;
    $firstField = "id_nombre";
    opcion = "";
    idValue = 0;
    url_post = null;
    //
    $modalFormLoaded = "aoLoadedForm();";
    function aoLoadedForm() {
        setTimeout(function() {
            $("#id_aexpopid").val($("#cb_accest").val());
            $("#id_cadproid").val($("#cb_cadpro").val());
        }, 200);
    }
    $("#cb_cadpro").on("change", function(){
        $dataUrl = "{% url 'planificacion:actividad_listar' oAeXPop.pk 99999 %}";
        $dataUrl = $dataUrl.replace("/99999", "/" + $(this).val());
        $tablaView.bootstrapTable("refresh", {url:$dataUrl})
    });
</script>

