{% extends "base_drac.html" %}
{% load static from staticfiles %}

{% block maestro_titulo %}
{% endblock maestro_titulo %}

{% block maestro_contenido %}
    <form method='GET' id="formCadProd" action="{% url 'agricola:tareacpcu_actividad' %}">
        {% csrf_token %}
        {{ formCadProd }}
    </form>
    <div id="dataActividad">
    </div>
{% endblock maestro_contenido %}

{% block maestro_scripts %}
    <script type="text/javascript">
        $("#formCadProd").ajaxForm({ target: $("#dataActividad") });
        $(".formCadProd_load").on("change", function() {
            formCadProd_load();
        });
        function formCadProd_load() {
            if ($("#cb_cadprod").val() > 0) {
                $("#formCadProd").submit();
            }
        }
    </script>
{% endblock maestro_scripts %}