{% load static from staticfiles %}
<script type="text/javascript" src="{% static 'js/select2/django_select2.js' %}"></script>
<form method='GET' id="formSubActividad">
    {% csrf_token %}
    {{ formSubActividad }}
</form>
<div id="dataTareas">
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#formSubActividad").ajaxForm({ target: "#dataTareas" });
    });
    $(".formSubActividad_load").on("change", function() {
        formSubActividad_load();
    });
    function formSubActividad_load() {
        if ($("#cb_subactividad").val() > 0) {
            url_TAR = "{% url 'agricola:tareacpcu_tabla' 0 %}";
            url_TAR = url_TAR.replace("/0", "/" + $("#cb_subactividad").val());
            $("#formSubActividad").prop("action", url_TAR).submit();
        }
    }
</script>