{% extends "base_form.html" %}
{% block form_body %}
    <form id="formProdProy" method='POST' class="form" role="form">
        {% csrf_token %}
        {% if delete_error != None %}
            <div class="text-danger form-group">
                Error!!: {{ delete_error|escape }}
            </div>
        {% endif %}
        {{ object.codigo }}<br/>
        {{ object.nombre }}<br/>
        {{ object.descripcion }}<br/>
        {{ object.unidadmedida.nombre }}<br/>
        {{ object.indicador.nombre }}<br/>
    </form>
    <script>
        $formView = $('#formProdProy');
        var form_options = {
            target: $modalForm,
            success: function() {
            }
        };
        $formView.ajaxForm(form_options);
    </script>
{% endblock form_body %}