{% load static from staticfiles %}
<script type="text/javascript" src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table-fixed-columns.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table-es-SP.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/select2/django_select2.js' %}"></script>
<div id="toolbar">
    <button id="btnNuevo" type="button" class="btn btn-default" >
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
</div>
<table id="tablaProdProy"
    data-toolbar="#toolbar"
    data-toggle="table"
    data-url="{% url 'planificacion:productoproyecto_listar' tipoPP oProgPptal.pk %}">
    <thead>
        <tr>
            <th data-field="codigo" data-sortable="true" data-switchable="true" class="col-md-1">Código</th>
            <th data-field="nombre" data-sortable="true" data-switchable="true" class="col-md-3">Nombre</th>
            <th data-field="descripcion" data-sortable="true" data-switchable="true" class="col-md-3">Descripción</th>
            <th data-field="indicador" data-sortable="true" data-switchable="true" class="col-md-2">Indicador</th>
            <th data-field="unidadmedida" data-sortable="true" data-switchable="true" class="col-md-2">Unidad de Medida</th>
            <th data-field="action" data-formatter="actionFormatter" data-switchable="false" data-events="actionEvents"
                class="col-md-1" data-align="center">Acciones</th>
        </tr>
    </thead>
</table>
<div id="modalProdProy" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button id="btnGuardar" type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/listagrilla.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    url_crear = "{% url 'planificacion:productoproyecto_crear' tipoPP %}";
    url_eliminar = "{% url 'planificacion:productoproyecto_eliminar' 0 %}";
    url_eliminar = url_eliminar.substr(0, url_eliminar.length-1);
    url_editar = "{% url 'planificacion:productoproyecto_actualizar' 0 %}";
    url_editar = url_editar.substr(0, url_editar.length-1);
    //
    $formTitulo = "{% if tipoPP == 'py' %}Proyecto{% else %}Producto{% endif %}";
    $formGenero = "o";
    $modalForm = $("#modalProdProy");
    $tablaView = $("#tablaProdProy");
    $formView = null;
    $firstField = "id_indicador";
    opcion = "";
    idValue = 0;
    url_post = null;
    //
    $modalFormLoaded = "aeLoadedForm();";
    function aeLoadedForm() {
        setTimeout(function() {
            $("#id_programapresupuestalid").val($("#cb_progpptal").val());
        }, 200);
    }
</script>
