<select class="form-control">
  <option value="all">Todas</option>
  <option value="CO">Certificación Orgánica</option>
  <option value="CC">Certificación Comercio Justo</option>
  <option value="CR">Certificación Rinfort Alice</option>
</select>


('', u''),
('CC', u''),
('CR', u'')