{% extends "base_form.html" %}
{% block form_body %}
    <form method='POST' id="formCentroPoblado" >
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group row">
                {% if field.is_hidden  %}
                    {{ field.as_hidden }}
                {% else %}
                    <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label}}:</label>
                    <div class="col-sm-10">
                        {% if field.name == "codigo1" %}
                            <div class="inline-group">
                                <input type="text" class="form-control col-sm-6" id="id_ubigeo" name="ubigeo" value="{{ form.ubigeo.value }}" disabled>
                                <input type="text" class="form-control col-sm-6" id="id_{{ field.name }}" name="{{ field.name }}" value="{{ field.value|default:'' }}" minlength="{{ field.field.min_length }}" maxlength="{{ field.field.max_length }}">
                        {% else %}
                            {{ field }}
                        {% endif %}
                        {% if field.name == "codigo1" %}
                            </div>
                        {% endif %}
                    </div>
                    {% for error in field.errors  %}
                        <div class="col-sm-10 col-sm-offset-2" >
                            <label id="{{ field.id_for_label }}_label"for="{{ field.id_for_label }}" class="label-error">
                                {{ error|escape }}
                            </label>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}

    </form>
    <script>
        $formView = $('#formCentroPoblado');
        var form_options = {
            target: $modalForm,
            success: function() {
            }
        }
        $formView.ajaxForm(form_options);
    </script>
{% endblock form_body %}