{% extends "base_drac.html" %}
{% load static from staticfiles %}

{% block maestro_titulo %}
{% endblock maestro_titulo %}

{% block maestro_contenido %}
    <div>
        {% for field in form %}
            <div class="form-group row">
                <div class="col-sm-2 ">
                    <label for="{{ field.id_for_label }}" class="col-form-label etiqueta">{{ field.label}}:</label>
                </div>
                <div class="col-sm-4">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="toolbar">
        <button id="btnNuevo" type="button" class="btn btn-default" >
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
	</div>
	<table id="tablaCentroPoblado"
		data-toolbar="#toolbar"
		data-toggle="table"
		data-url="{% url 'inicio:centropoblado_lista' %}"
        data-query-params="queryParams">
        <thead>
        <tr>
          <th data-field="codigo" data-sortable="true" data-switchable="true" class="col-md-1">Codigo</th>
          <th data-field="nombre" data-sortable="true" data-switchable="true" class="col-md-3">Nombre</th>
          <th data-field="area" data-sortable="true" data-switchable="true" class="col-md-3">Area</th>
          <th data-field="distrito" data-sortable="true" data-switchable="true" class="col-md-3">Distirio</th>
          <th data-field="action" data-formatter="actionFormatter" data-switchable="false" data-events="actionEvents"
                class="col-md-1" data-align="center">Acciones</th>
        </tr>
        </thead>
	</table>
    <div id="modalCentroPoblado" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button id="btnGuardar" type="button" class="btn btn-primary">Guardar Cambios</button>
          </div>
        </div>
      </div>
    </div>
{% endblock maestro_contenido %}
  
{% block maestro_scripts %}
    <script src="{% static 'js/listagrilla.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        url_listar = "{% url 'inicio:centropoblado_lista' %}"
        $('#toolbar button').prop('disabled', true);
        $('#id_distritos').change(function(event) {
            $('#toolbar button').prop('disabled', false);
            $('#tablaCentroPoblado').bootstrapTable('refresh', {query: {distrito: $(this).val()}});
            url_crear = "{% url 'inicio:centropoblado_crear' 0 %}";
            url_crear = url_crear.replace("/0", "/" + $("#id_distritos").val());
        });
        function queryParams(p) {
          if( $("#id_distritos").val() != null){
            p.distrito = $("#id_distritos").val();
          }
          return p;
        }
        //
        $modalFormLoaded = "cpLoadedForm();";
        function cpLoadedForm() {
            setTimeout(function() {
                $("#id_distritoid").val($("#id_distritos").val());
            }, 200);
        }
    </script>
    <script type="text/javascript">
        url_eliminar = "{% url 'inicio:centropoblado_eliminar' 0 %}";
        url_eliminar = url_eliminar.substr(0, url_eliminar.length-1);
        url_editar = "{% url 'inicio:centropoblado_actualizar' 0 %}";
        $formTitulo = "CentroPoblado";
        $formGenero = "o";
        $modalForm = $("#modalCentroPoblado");
        $tablaView = $("#tablaCentroPoblado");
        $formView = null;
        $firstField = "id_codigo1";
        opcion = "";
        idValue = 0;
        url_post = null;
    </script>
{% endblock maestro_scripts %}

