{% extends "base_form.html" %}
{% block form_body %}
    <form method='POST' id="formMes" >
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group row">

                <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label}}:</label>
                <div class="col-sm-10">
                    {{ field }}
                </div>
                {% for error in field.errors  %}
                <div class="col-sm-10 col-sm-offset-2" >
                    <label id="{{ field.id_for_label }}_label"for="{{ field.id_for_label }}" class="label-error">
                        {{ error|escape }}
                    </label>
                </div>
                {% endfor %}
            </div>
        {% endfor %}
    </form>
{% endblock form_body %}