{% extends "base_drac.html" %}
{% load static from staticfiles %}

{% block maestro_estilos %}
{#    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>#}

{% endblock maestro_estilos %}

{% block maestro_titulo %}
    Mes
{% endblock maestro_titulo %}

{% block maestro_contenido %}		

<div id="toolbar">

<button id="btnNuevoMes" type="button" class="btn btn-default" >
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
</button>
	</div>
	<table id="tablaMes"
		data-toggle="table"
		data-url="{% url 'inicio:mes_listar' %}"
		data-side-pagination="server"
		data-toolbar="#toolbar"
		data-height="480"#
		data-search="true"
		data-show-refresh="true"
		data-show-toggle="true"
		data-show-columns="true"
		data-pagination="true"
		data-page-list="[10, 20, 50, 100, 200]"
		data-classes="table table-hover"
		data-striped="true">

	    <thead>
	        <tr>
	          	<th data-field="numero" data-sortable="true" data-switchable="true" class="col-md-2">Numero</th>     
            	<th data-field="nombre" data-sortable="true" data-switchable="true" class="col-md-8">Nombre</th>     
            	<th data-field="action" data-formatter="actionFormatter" data-events="actionEvents" class="col-md-1" data-align="center" data-switchable="false">Action</th>
    
	        </tr>
	    </thead>
	    
	</table>


<div id="modalMes" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button id="btnMesGuardar" type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock maestro_contenido %}


{% block maestro_scripts %}


<script src="{% static 'js/mes/mes.js' %}" type="text/javascript"></script>

{% endblock maestro_scripts %}






