{% extends "base_drac.html" %}
{% load static from staticfiles %}

{% block maestro_titulo %}
{% endblock maestro_titulo %}

{% block maestro_contenido %}
    <form method='GET' id="formBase" action="{% url 'agricola:variedad_socio' %}">
        {% csrf_token %}
        {{ formBase }}
    </form>
    <div id="dataSocio">
    </div>
{% endblock maestro_contenido %}

{% block maestro_scripts %}
    <script type="text/javascript">
        $("#formBase").ajaxForm({ target: $("#dataSocio") });
        $(".formBase_load").on("change", function() {
            formBase_load();
        });
        function formBase_load() {
            if ($("#cb_base").val() > 0) {
                $("#formBase").submit();
            }
        }
    </script>
{% endblock maestro_scripts %}