{% load static from staticfiles %}
<script type="text/javascript" src="{% static 'js/select2/django_select2.js' %}"></script>
<form method='GET' id="formSocio">
    {% csrf_token %}
    {{ formSocio }}
</form>
<div id="dataVariedades">
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#formSocio").ajaxForm({ target: "#dataVariedades" });
    });
    $(".formSocio_load").on("change", function() {
        formSocio_load();
    });
    function formSocio_load() {
        if ($("#cb_socio").val() > 0) {
            url_VAR = "{% url 'agricola:variedad_tabla' 0 %}";
            url_VAR = url_VAR.replace("/0", "/" + $("#cb_socio").val());
            $("#formSocio").prop("action", url_VAR).submit();
        }
    }
</script>