{% load static from staticfiles %}
<script type="text/javascript" src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table-fixed-columns.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table-es-SP.min.js' %}"></script>

<div id="toolbar">
    <button id="btnNuevo" type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
</div>
<table id="tablaVariedad"
    data-toolbar="#toolbar"
    data-toggle="table"
    data-url="{% url 'agricola:variedad_listar' oSocio.pk %}"
    data-query-params="queryParams"
    data-fixed-columns="true"
    data-fixed-number="1">
    <thead>
    <tr>
        <th data-field="nombre" data-sortable="true" data-switchable="true" class="col-md-3">Nombre</th>
        <th data-field="area" data-sortable="true" data-switchable="true" class="col-md-1" data-align="right">Area</th>
        <th data-field="areasecano" data-sortable="true" data-switchable="true" class="col-md-1" data-align="right">Secano</th>
        <th data-field="areabajoriego" data-sortable="true" data-switchable="true" class="col-md-1" data-align="right">Bajo Riego</th>
        <th data-field="volumenproduccion" data-sortable="true" data-switchable="true" class="col-md-1" data-align="right">Vol Prod</th>
        <th data-field="rendimiento" data-sortable="true" data-switchable="true" class="col-md-1" data-align="right">Rend.</th>
        <th data-field="preciochacra" data-sortable="true" data-switchable="true" class="col-md-2" data-align="right">Chacra S/</th>
        <th data-field="preciomercado" data-sortable="true" data-switchable="true" class="col-md-2" data-align="right">Mercado S/</th>
        <th data-field="tipocertificado" data-sortable="true" data-switchable="true" class="col-md-5">Tip. Cert.</th>
        <th data-field="certificadas" data-sortable="true" data-switchable="true" class="col-md-2" data-align="right">Areas Cert.</th>
        <th data-field="sincertificar" data-sortable="true" data-switchable="true" class="col-md-2" data-align="right">Areas Sin Cert.</th>
        <th data-field="titulo" data-sortable="true" data-switchable="true" class="col-md-2">Título</th>
        <th data-field="fecha" data-sortable="true" data-switchable="true" class="col-md-2" data-align="center">Fecha</th>
        <th data-field="plaga" data-sortable="true" data-switchable="true" class="col-md-4">Plaga</th>
        <th data-field="action" data-formatter="actionFormatter" data-switchable="false" data-events="actionEvents"
            class="col-md-1" data-align="center">Acciones</th>
    </tr>
    </thead>
</table>
<div id="modalVariedad" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button id="btnGuardar" type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/listagrilla.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    url_crear = "{% url 'agricola:variedad_crear' %}";
    url_eliminar = "{% url 'agricola:variedad_eliminar' 0 %}";
    url_eliminar = url_eliminar.substr(0, url_eliminar.length-1);
    url_editar = "{% url 'agricola:variedad_actualizar' 0 %}";
    url_editar = url_editar.substr(0, url_editar.length-1);
    //
    $formTitulo = "Variedad";
    $formGenero = "a";
    $modalForm = $("#modalVariedad");
    $tablaView = $("#tablaVariedad");
    $formView = null;
    $firstField = 'tb_plaga';
    opcion = "";
    idValue = 0;
    url_post = null;
</script>
<script type="text/javascript">
    function queryParams(p) {
        p.socid = $(".cb_socio").val();
        if (!p.socid) p.socid = 0;
        return p;
    }
    //
    $modalFormLoaded = "formLoadUrl();";
    function formLoadUrl() {
        setTimeout(function() {
            if ($("#id_socioid")) $("#id_socioid").val($("#cb_socio").val());
        }, 200);
    }
</script>