{% extends "base_drac.html" %}
{% load static from staticfiles %}

{% block maestro_estilos %}
{% endblock maestro_estilos %}

{% block maestro_contenido %}
    <div id="toolbar">
        <button id="btnNuevo" type="button" class="btn btn-default" >
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
	</div>
	<table id="tablaTrabajadorAdministracion"
	  data-toolbar="#toolbar"
    data-toggle="table"
		data-url="{% url 'administracion:trabajador_listar' %}">
	    <thead>
	        <tr>
              	<th data-field="persona" data-sortable="true" data-switchable="true" class="col-md-3">Nombres</th>
                <th data-field="area" data-sortable="true" data-switchable="true" class="col-md-3">Area</th>
                <th data-field="funcioncargo" data-sortable="false" data-switchable="fade" class="col-md-2">Cargo</th> 
                <th data-field="especialidad" data-sortable="false" data-switchable="fade" class="col-md-1">Especialidad</th> 
                <th data-field="profesion" data-sortable="false" data-switchable="fade" class="col-md-1">Profesion</th>
                <th data-field="fechainicio" data-sortable="true" data-switchable="false" class="col-md-1">Fecha Inicio</th>
              	<th data-field="action" data-formatter="actionFormatter" data-switchable="false" data-events="actionEvents" class="col-md-1" data-align="center">Accion</th>
	        </tr>
	    </thead>
	</table>
    <div id="modalTrabajador" class="modal" data-keyboard="true" data-backdrop="true" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button id="btnGuardar" type="button" class="btn btn-primary">Guardar Cambios</button>
          </div>
        </div>
      </div>
    </div>
{% endblock maestro_contenido %}

{% block maestro_scripts %}
    <script type="text/javascript">
        url_crear = "{% url 'administracion:trabajador_crear' %}";
        url_eliminar = "{% url 'administracion:trabajador_eliminar' 0 %}";
        url_eliminar = url_eliminar.substr(0, url_eliminar.length-1);
        url_editar = "{% url 'administracion:trabajador_actualizar' 0 %}";
        url_editar = url_editar.substr(0, url_editar.length-1);
        //
        $formTitulo = "Trabajador";
        $formGenero = "a";
        $modalForm = $("#modalTrabajador");
        $tablaView = $("#tablaTrabajadorAdministracion");
        $formView = null;
        $firstField = "id_persona";
        opcion = "";
        idValue = 0;
        url_post = null;
    </script>
    <script src="{% static 'js/listagrilla.js' %}" type="text/javascript"></script>
{% endblock maestro_scripts %}